#memory {

  .inspect {
    min-height: 100px;
  }

  .contents_container {
    position: relative;
    width: 772px; // ((20px + 1px border) * 32 cells wide) + 100px addresses sidebar
    height: 400px;

    overflow-y: scroll;
  }

  .contents, .contents_addresses {
    position: absolute;

    font-family: monospace;

    span {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;

      border-top: 1px #aaa dotted;
      border-left: 1px #aaa dotted;

      &.current_pc {
        color: rgb(255,64,64);
        background-color: rgb(255,224,224);
      }

      &.instruction_begin {
        color: rgb(64,64,255);
        background-color: rgb(224,224,255);
        border-color: rgb(64,64,255);
        border-top: 1px solid;
        border-left: 1px solid;
      }
      &.instruction_middle {
        color: rgb(64,64,255);
        background-color: rgb(224,224,255);
        border-color: rgb(64,64,255);
        border-top: 1px solid;
      }
      &.instruction_opcode {
        border-color: rgb(64,255,64);
        color: rgb(64,255,64);
        background-color: rgb(224,255,224);
      }
      &.inspect_pos {
        text-decoration: underline !important;
      }
      &.inspect_instruction {
        font-weight: bold !important;
      }

    }

    &.break-on-instruction-begin {
      span.instruction_begin {
        clear: left;
      }
    }

  }


  .contents {
    left: 100px;
    width: 672px;
  }

  .contents_addresses {
    left: 0px;
    width: 100px;
    padding-top: 1px;

    span {
      display: block;
      float: none;
      clear: both;
      height: 20px;
      text-align: right;
      padding-right: 10px;
      border: none;
      border-right: 1px #aaa solid;
      border-bottom: 1px #aaa dotted;
      width: 90px;
    }
  }



}