body {
  zoom: 0.525;
}

.memory {
  width: 436px;

  h2 {
    float: left;
  }

  .memory-controls-form {
    height: 30px;
  }

  .inputs-left {
    float: left;
  }
  .controls {
    float: right;
  }

  .inspect {
    min-height: 100px;
  }

  .contents_container {
    clear: both;
    position: relative;
    width: 436px; // ((20px + 1px border) * 16 cells wide) + 100px addresses sidebar
    height: 400px;

    overflow-x: scroll;
    overflow-y: scroll;

    border: 1px #AAA solid;
  }

  .contents, .contents_addresses {
    position: absolute;

    font-family: monospace;

    span {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;

      border-top: 1px #aaa dotted;
      border-left: 1px #aaa dotted;

      &.current_pc {
        color: rgb(255,64,64);
        background-color: rgb(255,224,224);
      }

      &.instruction_begin {
        color: rgb(64,64,255);
        background-color: rgb(224,224,255);
        border-color: rgb(64,64,255);
        border-top: 1px solid;
        border-left: 1px solid;
      }
      &.instruction_middle {
        color: rgb(64,64,255);
        background-color: rgb(224,224,255);
        border-color: rgb(64,64,255);
        border-top: 1px solid;
      }
      &.instruction_opcode {
        border-color: rgb(64,128,64);
        color: rgb(64,128,64);
        background-color: rgb(192,255,192);
      }
      &.instruction_opcode_arg {
        color: rgb(64,128,255);
        background-color: rgb(224,255,255);
        border-color: rgb(64,128,255);
      }
      &.inspect_pos {
        text-decoration: underline !important;
      }
      &.inspect_instruction {
        font-weight: bold !important;
      }
      &.current_instruction {
        text-decoration: underline;
      }
      &.current_instruction.instruction_name, &.current_instruction.address {
        color: rgb(64,192,64);
      }

    }

    &.break-on-instruction-begin {
      span.instruction_begin {
        clear: left;
      }
    }

  }


  .contents {
    left: 100px;

    .instruction_name {
      display: none;
    }
  }

  .contents_addresses {
    left: 0px;
    width: 100px;
    padding-top: 1px;

    span {
      display: block;
      float: none;
      clear: both;
      height: 20px;
      text-align: right;
      padding-right: 10px;
      border: none;
      border-right: 1px #aaa solid;
      border-bottom: 1px #aaa dotted;
      width: 90px;
    }
  }

  .contents.break-on-instruction-begin {
    width: 30000px;

    span.instruction_name {
      display: inline;
      clear: both;
      width: 150px;
//      overflow-x: scroll;
      overflow-x: hidden;
      text-align: left;
    }
    span.instruction_begin {
      clear: none;
    }
  }



  #inspect_toolbar {
    margin-top: 1em;
  }

}

.thread {
  max-width: 450px;
  float: left;
  margin-right: 10px;
}