#cpu.well
  %h2 CPU
  %button#btn-tick.btn.btn-primary Tick
  %button#btn-reset.btn.btn-danger Reset
  .contents


#memory.well
  %h2 Memory
  %form.form-inline
    %div.input-prepend.input-append
      %button#btn-memory-update_decr.btn -F
      %input#memory_start.span4{type: "text", placeholder: "Start"}
      %button#btn-memory-update_incr.btn +F
    %div.pull-right
      %label
        %input#memory_break_on_instructions{type: "checkbox"}
        Raw?F
      %label
        %input#memory_follow_pc{type: "checkbox"}
        Follow PC?F
      %label
        Size
        %input#memory_window.input-mini{type: "text", placeholder: "Window"}
      %button#btn-memory-update.btn.btn-primary Update
  .well.contents_container
    .contents_addresses
    .contents.break-on-instruction-begin
    .clearfix
  %div
    %form.form-inline
      Inspect
      %input#memory_inspect_at.span2{type: "text", placeholder: "Inspect atF"}
      %div.btn-group
        %button#memory_inspect_instruction_prev.btn Prev Inst.F
        %button#memory_inspect_instruction_next.btn Next Inst.F
    .inspect
