#cpu.well
  %h2 CPU
  %button#btn-tick.btn.btn-primary Tick
  %button#btn-reset.btn.btn-danger Reset
  .contents


#memory.well
  %h2 Memory
  %form.form-inline
    %div.input-prepend.input-append
      %button#btn-memory-update_decr.btn -
      %input#memory_start.span3{type: "text", placeholder: "Start"}
      %button#btn-memory-update_incr.btn +
    %div.pull-right
      %label
        %input#memory_follow_pc{type: "checkbox"}
        Follow PC?
      %label
        Size
        %input#memory_window.input-mini{type: "text", placeholder: "Window"}
      %button#btn-memory-update.btn.btn-primary Update
  .well.inspect
  .contents
