body { zoom: 0.5; }

/* extra bootstrap things */
.span22 {
  width: 1800px;
}

.hl_address.hover { background-color: #f8f !important; }

span.opcode    { color: #5BB75B; }
span.data_type { color: #49AFCD; }
span.value     { color: #0074CC; }

.current_instruction table { width: auto; }
.current_instruction td { font-family: monospace; padding-left: 1em; }
.current_instruction td.opcode { width: 10em; text-align: right; }

.row.memory_game_objects_current_instruction { position: absolute; top: 0px; right: 0px; }

.memory { height: 400px; }
.memory table tbody { font-family: monospace; display: block; height: 20em; overflow-y: scroll; }
.memory .address { width: 3em; text-align: right; padding-right: 1em; }
.memory .allocated   { text-decoration: underline; }
.memory .data_type_1 { color: #0074CC; }
.memory .data_type_2 { color: #5BB75B; }
.memory .data_type_4 { color: #0074CC; }
.memory .data_type_6 { color: #FAA732; }

#segment_threads { width: 350px; overflow-x: scroll;}
table.threads_table { width: auto !important; }
.threads td.thread { width: 350px; height: 1200px; }
.threads { }
.threads tr { color: #888; }
.threads tr.current { color: #333; }
.threads .name { width: 3em; text-align: right; padding-right: 1em;  }
.threads .id { width: 1em; text-align: left;  padding-right: 1em; }
.threads .pc {  }

.game_objects { height: 400px; }
.game_objects table tbody { display: block; height: 20em; overflow-y: scroll; }
.game_objects td.address { width: 5em; text-align: right; }
.game_objects td.allocation_id { width: 3em; }

.map_outer { position: relative; width: 1200px; height: 1200px; overflow: scroll; }
.map_holder { zoom: 0.2; }
.map_holder .layers { position: absolute; top: 0; left: 0; width: 6000px; height: 6000px; z-index: 1; border: 1px #000 solid; }
.map_holder .bg { position: absolute; top: 0; left: 0; width: 6000px; height: 6000px; z-index: 0; border: 1px #000 solid; }

.map_holder .render_target { position: absolute; width: 5px; height: 5px; background-color: #FFF; border: 1px #000 solid; }
